<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>A to do list</title>
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/ea7b9d94b3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
        <% for(var i=0; i<newListItems.length; i++){ %>
          <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
            <form action="/del" method="post">
             <!-- <button class="remove-item" type="submit" name="submit">X</button> -->
             <button class="remove-item" type="submit" name="remove" value="<%=i%>"><i class="far fa-trash-alt"></i></button>
           </form>
          </div>

        <% } %>

            <form class="item" action="/" method="post">
              <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
          <button type="submit" name="button">+</button>
        </form>
    </div>


  </body>
</html>
